/* --------------------*/
/* Basic Setup */
/* ------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    background: #fff;
    color: #555;
    font-family: 'Lato','Arial','san-serif';
    font-size: 20px; /* why this font ? because the font size for the body
                    should be between 15 - 25px */
    text-rendering: optimizeLegibility;
}