/* --------------------*/
/* Basic Setup */
/* ------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    background: #fff;
    color: #555;
    font-family: 'Lato','Arial','san-serif';
    font-size: 20px; /* why this font ? because the font size for the body
                    should be between 15 - 25px */
    text-rendering: optimizeLegibility; /* CSS property provides information to the rendering 
                                        engine about what to optimize for when rendering text. */
    overflow: hidden; /* property specifies whether to clip the content, add a scroll bar, or display overflow content of a block-level element, when it overflows at the left and right edges. */

}

/* ------------------------------------------------- */
/* REUSEABLE COMPONENTS*/
/* ------------------------------------------------- */
.group {
    max-width: 1140px;
    margin: 0 auto;
}
section {
    padding: 80px 0;
}





/* ------------------------------------------------- */
/* HEADER */
/* ------------------------------------------------- */

/* main-nav */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
}
.main-nav li {
    display: inline-block;
    margin-left: 40px;
    
}

/* sticky nav */
.sticky-nav {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: aqua;
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}