/* --------------------*/
/* Basic Setup */
/* ------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    background: #fff;
    color: #555;
    font-family: 'Lato','Arial','san-serif';
    font-size: 20px; /* why this font ? because the font size for the body
                    should be between 15 - 25px */
    text-rendering: optimizeLegibility; /* CSS property provides information to the rendering
                                        engine about what to optimize for when rendering text. */
    overflow: hidden; /*  property specifies whether to clip the content, add a scroll bar, or display overflow content of a block-level element, when it overflows at the left and right edges. */

}

/* ------------------------------------------------- */
/* REUSEABLE COMPONENTS*/
/* ------------------------------------------------- */
.group {
    max-width: 1140px;
    margin: 0 auto;
}
section {
    padding: 80px 0;
}

/* --------- HEADINGS --------- */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}



/* ------------------------------------------------- */
/* HEADER */
/* ------------------------------------------------- */
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(img/image2.jpg);
    background-size:cover;
    background-position:center;
    background-att
    achment: fixed;
    height: 90vh;

}

.shoe-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 65%;
    transform: translate(-50%,-50%);


}

.shoe-text-box2 {
    position: absolute;
    width: 750px;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0  2px 2px black;
    background-color: black;
}

.shoe-text-box h1{
  color: white;

}

.shoe-text-box2 h1{
    color: white;
    text-align: center;
}
.logo {
    top:0;
    left: 0;
    height: 80px;
    width: auto;
    float:left;
    margin-top: 20px;

}

/* main-nav */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}
.main-nav li {
    display: inline-block;
    margin-left: 40px;

}
.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;


}

/* sticky nav */
.sticky-nav {
    position: fixed; /* The element is positioned relative to the viewport, which means taht it always stays in the same place even if the page is scrolled.*/
    background-color: white;
    width: 100%; /* made the navigation bar extend all way from left to right*/
    top: 0;
    left: 0;
    box-shadow: 0  2px 2px #efefef; /* adds a blur effect to the navigation bar */
    z-index: 9999; /* why do we want this? element with greater stack order is always in front of an element with a lower stack order.Only works on postion: fixed, sticky,...etc */

}


.shoe-text-box {

}
